@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-serif: var(--font-cabinet);
}

@custom-variant dark (&:where(.dark, .dark *));

body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth !important;
  scroll-margin-top: 6rem;
}

[id] {
  scroll-margin-top: 6rem;
}

@layer components {
  .layout {
    @apply grid grid-cols-[1fr_(0,1200px)_1fr] gap-4 w-full;
  }

  .container {
    @apply mx-auto px-4 text-gray-800 dark:text-gray-200 font-sans;
  }
}
