@import 'tailwindcss';

:root {
  --background: #fffefa;
  --foreground: #170700;
  --tw-gradient-stops:
    rgba(255, 251, 235, 1) 0%, rgba(254, 243, 198, 1) 80%,
    rgba(254, 230, 133, 1) 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-serif: var(--font-cabinet);
}

@custom-variant dark (&:where(.dark, .dark *));

body.dark {
  --background: #2e0f00;
  --foreground: #ede7d8;
  --tw-gradient-stops:
    rgba(46, 15, 0, 1) 0%, rgba(59, 22, 3, 1) 80%, rgba(79, 31, 6, 1) 100%;
}

html {
  scroll-behavior: smooth !important;
  scroll-margin-top: 6rem;
}

[id] {
  scroll-margin-top: 6rem;
}

@layer components {
  .layout {
    @apply grid grid-cols-[1fr_(0,1200px)_1fr] gap-4 w-full;
  }

  .container {
    @apply mx-auto px-4 text-gray-800 dark:text-gray-200 font-sans;
  }
}
